{% extends "base.html.twig" %}

{% block title %}
    - Day {{ day }}
{% endblock %}

{% block body %}
    <a href="{{ path('homepage') }}"><- Back</a>
    <h1>Solutions for day {{ day }}</h1>

    <div>
        <input type="file" data-day="{{ day }}">
    </div>

    <p class="solution-part" id="part-one">Part 1: <strong></strong></p>
    <p class="solution-part" id="part-two">Part 2: <strong></strong></p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ vite_entry_script_tags('file') }}
{% endblock %}
